<html>
    {% load static %}
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>JZ Insta</title>
        <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'vendor/font-awesome-4.6.3/css/font-awesome.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
        <style>
            .box1-detail-pic{
            height: 100%;
            width: 100%;
            float:left;
            }

            .box1-detail-content{
                margin: 100px;
                height: 1000px;
                width:1000px;
                box-shadow: 0 0 10px 0 black;
                float:right;
                background-color: #0f0f0f;
            }

        </style>
    </head>
    <body>
        {% include 'header.html' %}

        <div class="content-wrapper">
            <div class="container">
                {% block content %}
                {% endblock content%}
            </div>
        </div>

        <script type="text/javascript" src="{% static 'js/jquery-3.1.0.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/ajax-csrf-auth.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/index.js' %}"></script>

        {% block extrascript %}
        {% endblock %}

    </body>
</html>